<%- include("partials/nav.ejs"); %>
<div style="display: flex; justify-content: center; align-items: center; margin-top: 7%;">
    <h2>Healthy Minds</h2>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 2%;">
<h1 >Welcome, <%= username %>!</h1>
</div>
    <div style="top:10%" class="image-container">
        <img style="border-radius: 50px; height: 5%;"
            src="https://i.pinimg.com/564x/95/09/ba/9509ba73e0ebc3d46958ab4d748d8963.jpg" class="img-fluid"
            alt="...">
        <div class="fade-overlay"></div>
        <div class="button-overlay ">
            <a href="/mood"><button>Track your mood</button></a>
            <a href="#track"><button>
                    Discover
                </button></a>
        </div>
    </div>
   
    <br>
    <br>
    <h1 class="text-center">Mental health matters </h1>
    <br>
    <br>
    <div id="track" class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em>Maria, 28, Generalized Anxiety Disorder</em></p>
                        <p class="card-text">"Learning about my anxiety was life-changing. Before, I just thought I was
                            overly sensitive or weak, but understanding it as a real condition helped me be kinder to
                            myself. I began therapy, and now I know techniques to manage my anxiety. Realizing I wasn’t
                            alone gave me the courage to ask for support when I need it."</p>
                    </div>
                </div>
            </div>
            <div class="col" style="gap: 20px;">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em>James, 21, Major Depressive Disorder</em></p>
                        <p class="card-text">"For years, I kept telling myself to just 'snap out of it,' but that only
                            made things worse. Once I acknowledged my depression as something real and treatable, I
                            stopped blaming myself and started focusing on recovery. The support I received from friends
                            and family made a world of difference, and I feel hope again."

                        </p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em> Sarah, 22, Bipolar Disorder</em></p>

                        <p class="card-text">"It was so freeing to understand my mood swings as part of bipolar
                            disorder, not just as random episodes of highs and lows. I used to think I was broken, but
                            now, with the right treatment, I’ve learned to manage it. Embracing my mental health has
                            allowed me to build healthier relationships and believe in myself."</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em> Luis, 55, Post-Traumatic Stress Disorder (PTSD)</em></p>

                        <p class="card-text">"Accepting my PTSD was tough, but acknowledging my symptoms meant I could
                            finally start therapy and not feel ashamed. I realized my reactions and fears were valid,
                            and learning coping strategies has allowed me to reclaim parts of my life. I’m proud of how
                            far I’ve come, and it all started with understanding."</p>
                    </div>
                </div>
            </div>
            <div class="col" style="gap: 20px;">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p5.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em>Emily, 30, Obsessive-Compulsive Disorder (OCD)</em></p>
                        <p class="card-text">"For years, I thought my compulsions were just weird habits I couldn’t
                            stop, which filled me with shame. Learning about OCD helped me understand why I do these
                            things, and I finally felt I wasn’t alone. Therapy has given me tools to cope, and I’ve
                            learned to be more compassionate with myself."</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../img/p6.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p><em>Alex, 19, Social Anxiety Disorder</em></p>
                        <p class="card-text">"Once I learned about social anxiety, I understood why even simple interactions felt overwhelming. It was a relief to realize there was a name for what I was going through. With time, therapy, and support from friends, I’ve made progress. Understanding my mental health made it easier to ask for help and take small steps forward."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sticky FQAS -->

    <div class="faqsIcon">
        <a href="#FAQS"><img src="./img/FAQ.png" alt="FAQs"></a>
    </div>
    <!--  -->

    <br>
    <br>
    <div style="justify-content: center; background-color: rgb(200, 227, 239); height: 120px !important;">
        <div style="top: 30px;">
            <h2 style="text-align: center; "><br>We fight for you, for your mental health, for your peace.</h2>
        </div>
    </div>
    <br>
    <br>
    <h1 style="margin-left:5% ;">What's mental health?</h1>
    <div style="margin-left:5% ;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos unde ex aut voluptas expedita minima optio,
            consequatur reprehenderit. Quidem itaque totam fuga impedit excepturi maxime. Aliquid dolorum veritatis
            magni dolores.</p>
    </div>
    <br>
    <h1 style="margin-left:5% ;">Why is it important?</h1>
    <div style="margin-left:5% ;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos unde ex aut voluptas expedita minima optio,
            consequatur reprehenderit. Quidem itaque totam fuga impedit excepturi maxime. Aliquid dolorum veritatis
            magni dolores.</p>

    </div>

    <br>
    <br>
    <br>
    <div class="fila">
        <div style="font-size: xx-large;" class="celdaNumero">
            <img style="width: 15%;" src="./img/cabeza.png" alt="" srcset="">
            <div>
                <p>Are people who pay attention to their mental health happier?? </p>
            </div>
        </div>
        <div style="font-size: xx-large;" class="celdaTexto">
            <img style="width: 15%;" src="./img/cerebro.png" alt="" srcset="">
            <div>
                <p>
                    According to investigator Dr Pattinson, 65% of people treating their conditions stated to have a better life quality 
                </p>
            </div>
        </div>
    </div>
    <!-- end of mood tracker -->
    <br>
    <h1 class="text-center">Introductive Videos </h1>
    <br>
    <div style="margin-left: 5%;">
        <div style="display: flex; align-items: center;">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GWGbOjlJDkU?si=4pR4X0XlRDI_7YEY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/3QIfkeA6HBY?si=0McQx6nhL81xvzRZ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div style="display: flex; align-items: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NQcYZplTXnQ?si=5TMBadTRJ9x2VxvB"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nCrjevx3-Js?si=vuOjrcBoGlPUxH3Z"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <br>
    <h1 class="text-center">Frequently Asked Questions</h1>


    <div id="FAQS" class="faq-item ">
        <button class="faq-question" onclick="toggleAnswer(0)">What is anxiety?</button>
        <div class="faq-answer" id="answer-0">
            <p>Anxiety is such a normal emotion, it is when the terrifying thougt of the worst possible case scenario
                happening overcomes you</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question" onclick="toggleAnswer(1)">How to reduce stress?</button>
        <div class="faq-answer" id="answer-1">
            <p>There are several techniques such as physical excercise and meditation</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question" onclick="toggleAnswer(2)">When should i seek for help??</button>
        <div class="faq-answer" id="answer-2">
            <p>It is important to seek help when it feels like anxiety and stress are taking over your thoughts</p>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <h3>Seek help</h3>
                <p><strong>Life line</strong></p>
                <p>Phone: <a href="tel:+55 800 911 2000">800 911 2000</a></p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.twitter.com" target="_blank">Twitter</a>
                <a href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>