body {
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

/* Cloud styling */
body::before, body::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 10%;
    width: 400px;
    height: 200px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        -60px 60px 0 -30px rgba(255, 255, 255, 0.8),
        60px 60px 0 -30px rgba(255, 255, 255, 0.8),
        -30px -30px 0 -30px rgba(255, 255, 255, 0.8),
        30px -30px 0 -30px rgba(255, 255, 255, 0.8);
    opacity: 0.6;
    z-index: -1;
}

body::after {
    top: 30%;
    left: 70%;
    width: 300px;
    height: 150px;
    box-shadow: 
        -50px 50px 0 -25px rgba(255, 255, 255, 0.8),
        50px 50px 0 -25px rgba(255, 255, 255, 0.8),
        -25px -25px 0 -25px rgba(255, 255, 255, 0.8),
        25px -25px 0 -25px rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* Additional clouds with z-index for layering */
.cloud {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 
        -50px 50px 0 -25px rgba(255, 255, 255, 0.8),
        50px 50px 0 -25px rgba(255, 255, 255, 0.8),
        -25px -25px 0 -25px rgba(255, 255, 255, 0.8),
        25px -25px 0 -25px rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.cloud1 {
    width: 250px;
    height: 125px;
    top: 15%;
    left: 50%;
}

.cloud2 {
    width: 300px;
    height: 150px;
    top: 40%;
    left: 20%;
}

.cloud3 {
    width: 200px;
    height: 100px;
    top: 70%;
    left: 80%;
}
